<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>
  <arg name="profiler" default="$(optenv PROFILER false)" />

  <group ns="$(arg uav_name)">

    <!-- launch the node -->
    <node name="garmin" pkg="mrs_serial" type="garmin" output="screen" respawn="true">

      <rosparam file="$(find mrs_serial)/config/garmin_rangefinder.yaml" />

      <param name="enable_profiler" type="bool" value="$(arg profiler)" />
      <param name="portname" value="/dev/garmin"/>

      <!-- Publishers -->
      <remap from="range" to="~range" />
      <remap from="range_up" to="~range_up" />
      <remap from="~profiler" to="profiler" />

      <!--ServicesOut-->
      <!-- <remap from="~t2_failsafe" to="control_manager/failsafe_escalating" /> -->
      <remap from="~t2_failsafe" to="control_manager/NOTHING" />

    </node>

    <!-- Subscribers -->
    <!-- <remap from="garmin/fire_topic" to="fire_topic" /> -->

  </group>

</launch>
